<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- <http> -->
	<!-- <intercept-url pattern="/welcome*" access="ROLE_USER" /> -->
	<!-- <http-basic /> -->
	<!-- </http> -->

	<!-- <http> -->
	<!-- <intercept-url pattern="/welcome*" access="ROLE_USER" /> -->
	<!-- <form-login /> -->
	<!-- <logout logout-success-url="/home" /> -->
	<!-- </http> -->

	<http>
		<intercept-url pattern="/" access="ROLE_USER" />
		<intercept-url pattern="/home" access="ROLE_USER" />
		<intercept-url pattern="/admin*" access="ROLE_ADMIN" />
		<form-login 
			login-page="/login" 
			default-target-url="/home" 
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="jimi" password="jimi" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="bob" password="bob" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

<!-- 	<authentication-manager> -->
<!-- 		<authentication-provider> -->
<!-- 			<jdbc-user-service data-source-ref="dataSource"  -->
<!-- 				users-by-username-query= -->
<!-- 				"select username, password FROM user WHERE username = ?" -->
<!-- 				 /> -->
<!-- 		</authentication-provider> -->
<!-- 	</authentication-manager> -->

</beans:beans>